.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
}

.input {
  border: solid 1px;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
}

.form-container {
  max-width: 280px;
  min-height: 500px;
}

.container {
  padding-top: 80px;
  width: 100%;
}
