{
  "extends": [
    "@wolox/eslint-config",
    "@wolox/eslint-config-react",
    "@wolox/eslint-config-typescript",
    "plugin:testing-library/react"
  ],
  "plugins": [
    "testing-library"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
