.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loading {
  width: 55px;
  height: 55px;
}

.loading-circle {
  width: 65px;
  height: 45px;
}

.input {
  margin-right: 10px;
}

.checkmark {
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 11px;
  border-radius: 12px;
  display: inline-block;
  position: relative;

  &:hover {
    box-shadow: 0 0 5px 1px #979797;
  }

  &:checked:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: 5px;
    color: #5aceeb;
  }
}
