@import '../../../scss/variables/_colors';

.navbar-container {
  background-color: $white;
  border-bottom: 1px solid $black;
  height: 100px;
  padding: 20px 50px;
  position: fixed;
  z-index: 999999;
}

.title {
  height: 50px;
}

.button,
.route {
  align-items: center;
  color: $black;
  display: flex;
  font-size: 16px;
  padding: 10px;

  &:hover {
    text-decoration: underline;
  }
}

.with-border {
  border-right: 1px solid $grey-0-1;
}

.route {
  border-right: 1px solid $grey-0-1;
  padding: 10px 30px;

  &:nth-last-child(1) {
    border: none;
  }
}

.image {
  height: 20px;
  margin-right: 5px;
}

.auth-buttons {
  margin-left: auto;
}

.link-list {
  margin-left: auto;
}
