.navbar-container {
  background-color: white;
  height: 150px;
  padding: 20px 50px;
  position: fixed;
  z-index: 999999;
}

.title {
  height: 50px;
}

.button,
.route {
  color: black;
  font-size: 16px;
  padding: 10px;

  &:hover {
    text-decoration: underline;
  }
}

.with-border {
  border-right: 1px solid gray;
}

.route {
  padding: 10px 30px;
}
