# dependencies
/node_modules

# production
/build
/.chrome
/.vscode

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.yo-rc.json
.history

# Environments & Deploy
.env.*
aws.js
