@import '../../../../../../../scss/variables/_colors';

.sub-item {
  padding: 10px;
  min-height: 8px;
  height: auto;
  padding-left: 30px;

  &.selected {
    border-left: 5px solid $grey-1;
    color: $grey-1;
  }
}
