.login-container {
  height: 100vh;
  width: 100%;
}

.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
}

.input {
  height: 30px;
  border: solid 1px;
  border-radius: 5px;
}

.form-container {
  width: 100%;
  max-width: 220px;
  height: 50vh;
}
