@import 'variables/colors';

.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
}

.input {
  border: solid 1px;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
}

.container {
  min-height: 500px;
  padding-top: 80px;
}

.form-container {
  max-width: 280px;
  width: 100%;
}

.error-message {
  background-color: $red;
  border-radius: 4px;
  color: $white;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.loading {
  height: 100px;
  left: calc(50% - 50px);
  position: absolute;
  top: 50%;
  width: 100px;
}
