.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
  margin-bottom: 40px;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: calc(10px + 2vmin);
  margin-bottom: calc(30px + 2vmin);
  color: white;
}

.app-link {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  text-decoration: underline;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
