.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
  padding: 8px 16px;

  &:disabled {
    visibility: hidden;
  }
}

.form-buttons {
  margin-top: auto;
  margin-bottom: 15px;
}

.inputContainer {
  padding: 5px 0;
}

.input {
  border: solid 1px;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  padding: 0 5px;
  width: 100%;
}

.form-container {
  width: fit-content;
  min-height: 470px;
  padding-top: 80px;
  margin: 0 auto;
}

.section-container {
  max-width: 450px;
  margin-bottom: 20px;
  padding-right: 10px;
  width: 100%;
}
