config:
  dockerfile: .woloxci/Dockerfile
  project_name: <%= projectName %>

steps:
  lint:
    - ln -sfn /home/node/node_modules node_modules
    - npm run ts-check
    - npm run lint
    - npm run lint-scss
    - npm run performance

environment:
  GIT_COMMITTER_NAME: a
  GIT_COMMITTER_EMAIL: b
  LANG: C.UTF-8
