@import '../../../scss/variables/_colors';
$transition: .5s;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  width: 70px;
  padding-top: 30px;
  box-shadow: 2px 0 4px 0 $black;
  height: 100vh;
  transition: width $transition;
  background-color: $grey-4;
  padding-top: 50px;
  z-index: 200;
  position: relative;

  &.complete {
    width: 250px;
    transition: width $transition;
  }
}

.sub-item {
  color: $white;
  border-left: 5px solid transparent;
  margin: 10px 0;
  border-radius: 0;
  text-transform: none;
  text-align: left;

  &.selected {
    border-left: 5px solid $grey-1;
    color: $grey-1;
  }
}

.arrow-button {
  background-color: $grey-1;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  right: -15px;
  position: absolute;
  top: 10px;
}

.arrow-right {
  transform: rotate(-45deg);
  transition: $transition;
  animation: fadeIn $transition;
  white-space: nowrap;
}

.arrow-left {
  transform: rotate(135deg);
  transition: $transition;
  animation: fadeIn $transition;
  white-space: nowrap;
}

.arrow-button:before {
  border: solid $black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  content: '';
}
