@import '../../../../../scss/variables/_colors';
@import '../../styles.module';

.fade-component {
  animation: fadeIn $transition;
  white-space: nowrap;
}

%arrow {
  display: inline-block;
  padding: 4px;
  right: 10px;
  position: absolute;
}

.item-text {
  color: $grey-1;

  .selected & {
    color: $white;
  }
}

.item {
  height: 58px;
  width: 100%;
  cursor: pointer;
  transition: background-color $transition ease-in-out;
  border-bottom: 1px solid $grey-3;
  border-radius: 0;
  position: relative;

  &.dropdown::after {
    border: solid $black;
    border-width: 0 2px 2px 0;
    content: '';
    transform: rotate(45deg);
    top: 35%;
    @extend %arrow;
  }

  &.selected {
    background-color: $grey-1;
    transition: background-color $transition ease-in-out;
    border-bottom: 1px solid $grey-1;

    &.dropdown::after {
      border: solid $white;
      top: 50%;
      border-width: 0 2px 2px 0;
      content: '';
      @extend %arrow;
      transform: rotate(225deg);
    }
  }
}

.sub-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  background: $grey-0-1;

  &.collapsed {
    overflow-y: auto;
    padding: 10px 0;
    max-height: 150px;
  }
}

.complete {
  padding-left: 20px;
}
